*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
}



.container{
    display: flex;
    width: 100%;
}

body{
    position: relative;
    width: 100vw;
    height: 100%;
    font-family: 'Montserrat', sans-serif;

    @include breakpoint-up(medium){
        header{
            width: 35%;
            height: 100%;
            position: fixed;
        }

        main{
            width: 65%;
            position: absolute;
            min-height: 100vh;
            height: 100%;
            left: 35%;
            overflow-x: hidden;
            border: 2px solid green;
        }
    }
    @include breakpoint-up(large){
        header{
            width: 30%;
        }

        main{
            width: 70%;
            left: 30%;
            position: absolute;
            border: 2px solid green;
        }
    }
    @include breakpoint-up(xlarge){
        header{
            width: 20%;
        }

        main{
            width: 80%;
            left: 20%;
            position: absolute;
            border: 2px solid green;
        }
    }

    @include breakpoint-down(small){
        header {
            width: 100%;
            position: fixed;
            bottom: 0%;
            height: 8vh;
            z-index: 100;
        }

        main{
            width: 100%;
            left: 0;
            position: absolute;
            min-height: 92vh;
            height: 100%;
            border: 2px solid green;
        }
    }

}


.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }

    &-col-desk{
        flex-direction: column;

        @include breakpoint-down(small){
            height: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.color-change{
        i{
            color: #2596be;
        }
        span{
            color: #fff;
        }
}



.hide-from-mobile{
    @include breakpoint-down(small){
        display: none;
    }
}


.hide{
    display: none;
}
