header{
    
    padding: 1.5rem;
    background: #050c14;
    color: #fff;

    @include breakpoint-down(small){
        padding: 1rem;
    }

    nav{
        border: 2px solid red;
        height: 100%;

    }

    .avatar{
        border: 8px solid #464647;
        height: 130px;
        width: 130px;
        margin: 0 auto 1.25rem;
        border-radius: 50%;

        img{
            width: 100%;
        }
    }

    .name{
        text-align: center;
        margin-bottom: 1.25rem;
        font-weight: 500;
    }


    .social{
        display: flex;
        gap: 1rem;
        margin-bottom: 2.5rem;

        @include breakpoint-down(small){
            display: none;
        }

        &_icons{
            width: 2.5rem;
            height: 2.5rem;
            background: #464647;
            cursor: pointer;
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5), 0px 6px 20px 0 rgba(0, 0, 0, 0.5);
            transition: all .3s ease-in-out;
            border-radius: 50%;

            &:hover{
                transform: scale(1.1);
            }
        }

        &_links{
            color: #fff;
        }
    }

    .nav{
        gap: 1.5rem;
        // height: 100%;

        @include breakpoint-down(small){
            height: 100%;
        }

        &_items{
            height: 100%;
        }

        &_links{
            gap: 1rem;
            font-size: 1.25rem;
            align-items: center;
            transition: all .3s ease-in-out;
            color: #464647;

            &:hover{
                // transform: scale(1.1);
                i{
                    color: #2596be;
                }
                span{
                    color: #fff;
                }
            }
            i{
                display: inline-block;
            }
            
            span{
                display: inline-block;
            }

            @include breakpoint-down(small){
                span{
                    display: none;
                }
                i{
                    font-size: 1.5rem;
                    align-items: center;
                }
            }
        }
    }
}