main{
    background-color: #00060c;

    .main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        border: 2px solid red;

        @include breakpoint-down(small){ 
            height: 100%;
            width: 100%;
            padding-inline: 1.5rem;
        }

        @include breakpoint-up(medium){
            height: 100%;
        }

        h1{
            border: 2px solid blue;
        }
    }

    .about-container{
        // height: 100%;
        color: #fff;
        padding: 1.5rem;
        margin: 0 auto 3rem;
        border: 1px solid red;

        @include breakpoint-up(medium){
            width: 100%;
        }

        @include breakpoint-down(small) {
            width: 100%;
            padding: 1rem;
        }

        h1{
            margin-bottom: 0.5rem;
        }

        .line{
            width: 7rem;
            height: 0.25rem;
            background-color: #2596be;
            margin-bottom: 3rem;
        }

        .about-text-image{
            margin-bottom: 2.5rem;


            .about-image{
                width: 35%;

                @include breakpoint-down(medium){
                    width: 100%;
                }
            }

            .about-texts{
                width: 60%;

                @include breakpoint-down(medium){
                    width: 100%;
                    font-size: 0.875rem;
                }

                h3{
                    margin-bottom: 0.5rem;
                }


                p{
                    letter-spacing: 0.5px;
                    line-height: 1.25rem;
                    margin-bottom: 1rem;

                    .span1{
                        color: #464647;
                    }

                    span{
                        font-weight: 500;
                    }
                }

                .about-subsection{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    justify-content: space-between;

                    .para1 { grid-area: 1 / 1 / 2 / 2; }
                    .para2 { grid-area: 1 / 2 / 2 / 3; }
                    .para3 { grid-area: 2 / 1 / 3 / 2; }
                    .para4 { grid-area: 2 / 2 / 3 / 3; }

                }
            }

            @include breakpoint-down(medium){
                flex-direction: column;
            }
        }

        .skills-certification {
            width: 100%;
            

            @include breakpoint-down(medium){
                flex-direction: column;
            }
            .about-skills{
                width: 60%;
                height: 100%;

                @include breakpoint-down(medium){
                    width: 100%;
                }

                .languages{
                    width: 100%;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 1rem;

                    .language-details{
                        display: flex;
                        gap: 0.5rem;
                        flex-direction: column;
                        align-items: center;
                        width: 150px;
                        height: 100%;

                        @include breakpoint-up (xlarge){
                            width: 150px;
                        }
                        @include breakpoint-down (medium){
                            width: 100px;
                        }
                        @include breakpoint-down (small){
                            width: 130px;
                        }

                        img{
                            width: 100%;
                            height: 70px;
                        }

                        i{
                            color: #2596be;
                            background-size: 50%;
                        }

                        // @include breakpoint-down(medium){
                        //     width: 80px;
                        // }
                    }
                }
            }

            .about-certifications{
                width: 35%;

                @include breakpoint-down(medium){
                    width: 100%;
                }
            }
        }

    }

}