@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 40em) {
  body header {
    width: 35%;
    height: 100vh;
    position: fixed;
  }
  body main {
    width: 65%;
    position: absolute;
    height: 100%;
    left: 35%;
    overflow-x: hidden;
    border: 2px solid green;
  }
}
@media (min-width: 64em) {
  body header {
    width: 30%;
  }
  body main {
    width: 70%;
    left: 30%;
    position: absolute;
    border: 2px solid green;
  }
}
@media (min-width: 87.5em) {
  body header {
    width: 20%;
  }
  body main {
    width: 80%;
    left: 20%;
    position: absolute;
    border: 2px solid green;
  }
}
@media (max-width: 39.9375em) {
  body header {
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 8vh;
    z-index: 100;
  }
  body main {
    width: 100%;
    left: 0;
    position: absolute;
    border: 2px solid green;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-col-desk {
  flex-direction: column;
}
@media (max-width: 39.9375em) {
  .flex-col-desk {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.color-change i {
  color: #2596be;
}
.color-change span {
  color: #fff;
}

@media (max-width: 39.9375em) {
  .hide-from-mobile {
    display: none;
  }
}

.hide {
  display: none;
}

.line-small {
  width: 3rem;
  height: 0.25rem;
  background-color: #2596be;
  margin-bottom: 1.5rem;
}

.line {
  width: 7rem;
  height: 0.25rem;
  background-color: #2596be;
  margin-bottom: 1rem;
}

header {
  padding: 1rem;
  background: #050c14;
  color: #fff;
}
@media (max-width: 39.9375em) {
  header {
    padding: 1rem;
  }
}
header nav {
  height: 100%;
  padding: 0.5rem;
}
@media (max-width: 63.9375em) {
  header nav {
    height: 100%;
    padding: 0;
  }
}
header .avatar {
  border: 8px solid #464647;
  height: 130px;
  width: 130px;
  margin: 0 auto 1.25rem;
  border-radius: 50%;
}
header .avatar img {
  width: 100%;
}
header .name {
  text-align: center;
  margin-bottom: 1.25rem;
  font-weight: 500;
}
header .social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 39.9375em) {
  header .social {
    display: none;
  }
}
header .social_icons {
  width: 2.5rem;
  height: 2.5rem;
  background: #464647;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5), 0px 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
header .social_icons:hover {
  transform: scale(1.1);
}
header .social_links {
  color: #fff;
}
header .nav {
  gap: 1.5rem;
}
@media (max-width: 39.9375em) {
  header .nav {
    height: 100%;
  }
}
header .nav_items {
  height: 100%;
  border: 2px solid red;
}
header .nav_links {
  gap: 1rem;
  font-size: 1.25rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
  color: #464647;
  border: 2px solid red;
}
header .nav_links:hover i {
  color: #2596be;
}
header .nav_links:hover span {
  color: #fff;
}
header .nav_links i {
  display: inline-block;
}
header .nav_links span {
  display: inline-block;
}
@media (max-width: 39.9375em) {
  header .nav_links span {
    display: none;
  }
  header .nav_links i {
    font-size: 1.5rem;
    align-items: center;
  }
}

main {
  background-color: #00060c;
}
main .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid red;
}
@media (max-width: 39.9375em) {
  main .main-container {
    height: 100%;
    width: 100%;
    padding-inline: 1.5rem;
  }
}
@media (min-width: 40em) {
  main .main-container {
    height: 100%;
  }
}
main .main-container h1 {
  border: 2px solid blue;
}
main .about-container {
  color: #fff;
  padding: 1.5rem;
  margin: 0 auto 8rem;
}
@media (min-width: 40em) {
  main .about-container {
    width: 100%;
  }
}
@media (max-width: 39.9375em) {
  main .about-container {
    width: 100%;
    padding: 1rem;
  }
}
main .about-container h1 {
  margin-bottom: 0.5rem;
}
main .about-container .line {
  width: 7rem;
  height: 0.25rem;
  background-color: #2596be;
}
main .about-container .about-text-image {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}
main .about-container .about-text-image .about-image {
  width: 35%;
}
@media (max-width: 63.9375em) {
  main .about-container .about-text-image .about-image {
    width: 100%;
  }
}
main .about-container .about-text-image .about-texts {
  width: 60%;
}
@media (max-width: 63.9375em) {
  main .about-container .about-text-image .about-texts {
    width: 100%;
    font-size: 0.875rem;
  }
}
main .about-container .about-text-image .about-texts h3 {
  margin-bottom: 0.5rem;
}
main .about-container .about-text-image .about-texts p {
  letter-spacing: 0.5px;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
main .about-container .about-text-image .about-texts p .span1 {
  color: #464647;
}
main .about-container .about-text-image .about-texts p span {
  font-weight: 500;
}
main .about-container .about-text-image .about-texts .about-subsection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
}
main .about-container .about-text-image .about-texts .about-subsection .para1 {
  grid-area: 1/1/2/2;
}
main .about-container .about-text-image .about-texts .about-subsection .para2 {
  grid-area: 1/2/2/3;
}
main .about-container .about-text-image .about-texts .about-subsection .para3 {
  grid-area: 2/1/3/2;
}
main .about-container .about-text-image .about-texts .about-subsection .para4 {
  grid-area: 2/2/3/3;
}
@media (max-width: 63.9375em) {
  main .about-container .about-text-image {
    flex-direction: column;
    gap: 1.5rem;
  }
}
main .about-container .skills-certification {
  width: 100%;
}
main .about-container .skills-certification h3 {
  margin-bottom: 0.5rem;
}
@media (max-width: 63.9375em) {
  main .about-container .skills-certification {
    flex-direction: column;
  }
}
main .about-container .skills-certification .about-skills {
  width: 55%;
  height: 100%;
}
@media (max-width: 63.9375em) {
  main .about-container .skills-certification .about-skills {
    width: 100%;
  }
}
main .about-container .skills-certification .about-skills .languages {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
main .about-container .skills-certification .about-skills .languages .language-details {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 100%;
}
@media (min-width: 87.5em) {
  main .about-container .skills-certification .about-skills .languages .language-details {
    width: 150px;
  }
}
@media (max-width: 63.9375em) {
  main .about-container .skills-certification .about-skills .languages .language-details {
    width: 100px;
  }
}
@media (max-width: 39.9375em) {
  main .about-container .skills-certification .about-skills .languages .language-details {
    width: 130px;
  }
}
main .about-container .skills-certification .about-skills .languages .language-details img {
  width: 100%;
  height: 70px;
}
main .about-container .skills-certification .about-skills .languages .language-details i {
  color: #2596be;
  background-size: 50%;
}
main .about-container .skills-certification .about-certifications {
  width: 40%;
}
@media (max-width: 63.9375em) {
  main .about-container .skills-certification .about-certifications {
    width: 100%;
  }
}
main .about-container .skills-certification .about-certifications .name {
  color: #2596be;
  margin-bottom: 0.45rem;
  font-weight: 600;
}
main .about-container .skills-certification .about-certifications .school {
  font-weight: 500;
}
main .about-container .skills-certification .about-certifications .ceritification-details {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.25rem;
}
@media (max-width: 63.9375em) {
  main .about-container .skills-certification {
    gap: 3rem;
  }
}
main .portfolio-section {
  color: #fff;
  padding: 1.5rem;
}
@media (max-width: 39.9375em) {
  main .portfolio-section {
    height: 100%;
  }
}
main .portfolio-section h1 {
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */